.add-new-offer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.add-new-offer h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-new-offer form div {
    margin-bottom: 15px;
}

.add-new-offer form label {
    display: block;
    margin-bottom: 5px;
}

.add-new-offer form input,
.add-new-offer form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-new-offer form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #50614A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-new-offer form button:hover {
    background-color: #405c34;
}
